img{
    width: 500px;
    height: 450px;
    border: 3px solid rgb(230, 51, 105);
    border-radius: 7px;
}
.All_Images{
    display: grid;
    grid-template-columns:repeat(5,1fr);
    gap: 15px;
    margin-left: 190px;
    margin-top: 3%;
}
body{
    background-image: linear-gradient(to bottom, pink, rgb(247, 57, 89));
    padding-bottom: 13%;
}
